html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, div,
time, mark, audio, video {
    margin:0;
    padding:0;
    border: none;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* Reset all elements */

@font-face {
    font-family: "Cantarell", sans-serif;
    src: url("/assets/fonts/Cantarell/Cantarell-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif", serif;
    src: url("/assets/fonts/Noto_Serif/NotoSerif-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Hasklug NFM", monospace;
    src: url("/assets/fonts/Noto_Serif/Hasklug_NerdFont.otf");
    font-display: swap;
}

.sans-serif {font-family: "Cantarell", sans-serif;}
.serif {font-family: "Noto Serif", serif;}
.monoscape {font-family: "Hasklug NFM", monospace;}

:root {
    --background: #241f31;
    --foreground: #f6f5f4;
    --highlight: #c0bfbc;
    --disabled: #5e5c64;
    --accent: #a51d2d;
}
.accented {color: var(--accent);}

body {
    background-color: var(--foreground);
    color: var(--background);
}

.viewport {height: 100vh; width: 100vw;}