.titleContainer, .sectionContainer, .sectionHeadingContainer,
.subHeadingContainer, .listContainer, .imgContainer,
.returnButtonContainer
{position: relative;}

.titleContainer, .returnButtonContainer {width: 100vw;}

.titleContainer, .sectionHeadingContainer, .subHeadingContainer,
.imgContainer, .returnButtonContainer {display: flex; align-items: center;}

.titleContainer, .imgContainer, .returnButtonContainer {justify-content: center;}
.sectionHeadingContainer, .subHeadingContainer {justify-content: flex-start;}

.titleContainer, .imgContainer, .returnButton {text-align: center;}

.titleContainer, .returnButton {color: var(--foreground); background-color: var(--accent);}

.sectionContainer {padding-top: 1vh; padding-bottom: 1vh;}
.h2Paragraph, .h3Paragraph{margin-top: 0.5vh; margin-bottom: 1vh;}

.titleContainer {height:10vh;}
.sectionHeadingContainer {height: 7.5vh;}
.subHeadingContainer {height: 5vh;}
.returnButtonContainer {height: 15vh;}

.imgContainer {
    flex-direction: column;

    img {max-width: 100%; max-height: 100%;}

    .imgAltText {
        font-style: italic;
        margin-top: 1vh; margin-bottom: 1vh;
    }
}

.returnButton {
    display: inline-block;
    cursor: pointer;

    max-height: 80%;
    padding: 1em;

    border-radius: 0.5em; border: none;

    font-weight: bold;
}
.returnButton:hover {color: var(--background); background-color: var(--highlight);}

.sectionHeading {color: var(--accent);}

em {font-style: italic;}
strong {font-style: bold;}
code {font-family: "Hasklug NFM", monospace;}