.sectionContainer {
    --marginValue: 3vw;
    margin-left: var(--marginValue);
    margin-right: var(--marginValue);
    width: calc(100vw - calc(var(--marginValue) * 2));
}

.sectionHeading {margin-left: 1vw; margin-right: 1vw;}
.subHeading {margin-left: 6vw; margin-right: 6vw;}
.h2Paragraph{margin-left: 6.25vw; margin-right: 6.25vw;}
.h3Paragraph {margin-left: 7vw; margin-right: 7vw;}
.bulletList {margin-left: 11.5vw; margin-right: 11.5vw;}

.mainTitle {font-size: 2.25vh; max-width: 95%;}
.sectionHeading {font-size: 2.5vh;}
.subHeading {font-size: 2.25vh;}
.imgAltText {font-size: 1.5vh;}
.returnButton {font-size: 1.75vh;}
p {font-size: 1.75vh;}