<!DOCTYPE html>
<html lang="vi" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giới Thiệu Về Công Cụ</title>
    <meta property="og:title" content="Giới Thiệu Về Công Cụ">
    <meta property="og:description" content="Giới thiệu và hướng dẫn sử dụng công cụ kiểm tra các nhóm máu tương thích.">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://sdtm.quynhbio.com/assets/images/Social_Preview/vi/InfoPreview.png">
    <meta property="og:url" content="https://sdtm.quynhbio.com/info">
    <meta property="og:locale" content="vi_VN">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Ảnh xem trước của trang thông tin của trang web">
    <meta property="og:site_name" content="Quynhbio's Interactive Blood Compatibility Checker">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/assets/graphics/exports/Favicons/favicon_32x32.svg">
    <link rel="stylesheet" href="/sheets/master.css">
    <link rel="stylesheet" href="/sheets/info/info.css">
    <link rel="stylesheet" href="/sheets/info/info_landscape.css" media="screen and (orientation:landscape)">
    <link rel="stylesheet" href="/sheets/info/info_portrait.css" media="screen and (orientation:portrait)">
</head>
<body>
    <a href="/" class="homeLink">
        <div class="titleContainer sans-serif" title="Quay trở lại trang chủ">
            <h1 class="mainTitle">Công Cụ Kiểm Tra Các Nhóm Máu Tương Thích Trong Truyền Máu Ở Người</h1>
        </div>
    </a>

    <div class="sectionContainer serif">
        <div class="sectionHeadingContainer sans-serif">
            <h2 class="sectionHeading">I. Giới thiệu khái quát</h2>
        </div>

        <div class="subHeadingContainer sans-serif">
            <h3 class="subHeading">1. Mục đích</h3>
        </div>

        <p class="h3Paragraph">
            Việc xác định nhóm máu tương thích đóng vai trò quan trọng trong
            việc đảm bảo an toàn cho quá trình truyền máu. Trang web này
            được phát triển với mục đích hỗ trợ người dùng xác định nhóm máu
            tương thích và tra cứu thông tin hữu ích về việc truyền máu an
            toàn.
        </p>

        <div class="subHeadingContainer sans-serif">
            <h3 class="subHeading">2. Một số lưu ý</h3>
        </div>

        <div class="listContainer">
            <ul class="bulletList">
                <li><p>
                    Đây chỉ là công cụ hỗ trợ tham khảo, vui lòng luôn tuân
                    theo hướng dẫn của bác sĩ chuyên môn.
                </p></li>
                <li><p>
                    Thông tin y tế trên trang web chỉ mang tính chất giáo
                    dục và không thay thế được cho chẩn đoán hoặc điều trị
                    y tế.
                </p></li>
                <li><p>
                    Vui lòng liên hệ với bác sĩ nếu bạn có bất kỳ thắc mắc
                    nào về nhóm máu của mình, hoặc nếu bạn có các vấn đề sức
                    khỏe đặc biệt.
                </p></li>
            </ul>
        </div>
    </div>

    <div class="sectionContainer serif">
        <div class="sectionHeadingContainer sans-serif">
            <h2 class="sectionHeading">II. Hướng dẫn sử dụng</h2>
        </div>

        <div class="subHeadingContainer sans-serif">
            <h3 class="subHeading">1. Chọn nhóm máu người cho</h3>
        </div>

        <p class="h3Paragraph">
            Để trộn hai nhóm máu với nhau, ta trước hết phải chọn nhóm máu
            của người cho bằng cách ấn vào 1 trong 4 biểu tượng túi máu
            tượng trưng cho một nhóm máu của người cho.
        </p>

        <p class="h3Paragraph">
            Ví dụ như để chọn nhóm máu người cho là nhóm máu A, ta sẽ di
            chuyển con trỏ chuột ra chỗ biểu tượng túi máu nhóm A. Khi chưa
            chọn nhóm máu nào, hình con trỏ chuột, khi đưa vào gần một túi
            máu nào đó, sẽ hiện hình một ống tiêm trống không như sau:
        </p>

        <div class="imgContainer">
            <img src="/assets/images/Manual/vi/Manual_SelectBloodBag_1.png"
            alt="Hình 1.1: Con trỏ chuột khi chưa chọn nhóm máu nào"
            title="Con trỏ chuột khi chưa chọn nhóm máu nào">
            <p class="imgAltText">
                Hình 1.1: Con trỏ chuột khi chưa chọn nhóm máu nào
            </p>
        </div>

        <p class="h3Paragraph">
            Khi ấn vào biểu tượng một túi máu nào đó, con trỏ chuột sẽ hiện
            hình một ống tiêm nửa đầy như sau:
        </p>

        <div class="imgContainer">
            <img src="/assets/images/Manual/vi/Manual_SelectBloodBag_2.png"
            alt="Hình 1.2: Con trỏ chuột khi đã chọn một nhóm máu"
            title="Con trỏ chuột khi đã chọn một nhóm máu">
            <p class="imgAltText">
                Hình 1.2: Con trỏ chuột khi đã chọn một nhóm máu
            </p>
        </div>

        <p class="h3Paragraph">
            Khi đã chọn xong một nhóm máu, nhóm máu đang được chọn sẽ được
            hiển thị trong một biểu tượng hình tròn bên cạnh nút truy cập
            trang thông tin (<strong>?</strong>) ở đầu trang web như sau:
        </p>

        <div class="imgContainer">
            <img src="/assets/images/Manual/vi/Manual_BloodTypeNotification.png"
            alt="Hình 1.3: Thông báo hiển thị nhóm máu đang được chọn"
            title="Thông báo hiển thị nhóm máu đang được chọn">
            <p class="imgAltText">
                Hình 1.3: Thông báo hiển thị nhóm máu đang được chọn
            </p>
        </div>

        <div class="subHeadingContainer sans-serif">
            <h3 class="subHeading">2. Trộn hai nhóm máu với nhau</h3>
        </div>

        <p class="h3Paragraph">
            Để trộn hai nhóm máu với nhau, ta chỉ cần ấn vào 1 trong 4 biểu
            tượng tượng trưng cho một nhóm máu của người nhận.
        </p>

        <p class="h3Paragraph">
            Giả dụ như ta muốn trộn nhóm máu A của người cho với nhóm máu O
            của người nhận, ta sẽ trước hết di chuyển con trỏ chuột tới
            biểu tượng nhóm máu O của người nhận. Khi đã chọn một nhóm máu
            người cho như ở trên bước 1, con trỏ chuột sẽ hiện hình một ống
            tiêm nửa đầy như sau:
        </p>

        <div class="imgContainer">
            <img src="/assets/images/Manual/vi/Manual_MixBlood_1.png"
            alt="Hình 2.1: Nhóm máu O trước khi bị trộn với nhóm máu A"
            title="Nhóm máu O trước khi bị trộn với nhóm máu A">
            <p class="imgAltText">
                Hình 2.1: Nhóm máu O trước khi bị trộn với nhóm máu A
            </p>
        </div>

        <p class="h3Paragraph">
            Khi ấn vào biểu tượng nhóm máu của người nhận, ta hiểu là ta
            đang trộn nhóm máu của người cho với nhóm máu của người nhận.
            Trong trường hợp này, bởi vì ta đang trộn nhóm máu A với nhóm
            máu O, nhóm máu O sẽ bị kết dính và sẽ hiển thị hình như sau:
        </p>

        <div class="imgContainer">
            <img src="/assets/images/Manual/vi/Manual_MixBlood_2.png"
            alt="Hình 2.2: Nhóm máu O kết dính sau khi bị trộn với nhóm máu A"
            title="Nhóm máu O kết dính sau khi bị trộn với nhóm máu A">
            <p class="imgAltText">
                Hình 2.2: Nhóm máu O kết dính sau khi bị trộn với nhóm máu A
            </p>
        </div>

        <div class="subHeadingContainer sans-serif">
            <h3 class="subHeading">3. Khôi phục trạng thái ban đầu của công cụ</h3>
        </div>

        <p class="h3Paragraph">
            Khi nhóm máu người nhận kết dính sau khi trộn với nhóm máu của
            người cho, con trỏ chuột sẽ hiện hình một ống tiêm nửa đầy với
            hình tròn đỏ gạch chéo ở bên dưới (tham khảo
            <em>Hình 2.2</em>). Điều này có nghĩa là ta không
            thể trộn một nhóm máu đã bị kết dính với một nhóm máu nữa.
        </p>

        <p class="h3Paragraph">
            Ở trong ví dụ ở bước 2, để trộn nhóm máu O của người nhận với
            một nhóm máu khác của người cho, ta sẽ phải khôi phục trạng
            thái ban đầu của công cụ bằng cách ấn nút
            <strong>Reset</strong> ở cuối trang.
        </p>

        <div class="imgContainer">
            <img src="/assets/images/Manual/vi/Manual_ResetButton.png"
            alt="Hình 3.1: Con trỏ chuột khi đặt trên nút reset"
            title="Con trỏ chuột khi đặt trên nút reset">
            <p class="imgAltText">
                Hình 3.1: Con trỏ chuột khi đặt trên nút reset
            </p>
        </div>

        <p class="h3Paragraph">
            Khi ấn xong, công cụ sẽ được đưa lại về trạng thái ban đầu như
            khi mới mở trang web.
        </p>
    </div>

    <div class="sectionContainer serif">
        <div class="sectionHeadingContainer sans-serif">
            <h2 class="sectionHeading">III. Thông tin về trang web</h2>
        </div>

        <p class="h2Paragraph">
            Trang web được lập trình chỉ sử dụng 3 ngôn ngữ <strong>HTML</strong>,
            <strong>CSS</strong> và <strong>JavaScript</strong> cơ bản. Phần mềm
            server-side được xây dựng với môi trường runtime <strong>Node.js</strong>
            sử dụng một vài công cụ bên thứ 3 như <code>express</code>, <code>compression</code>
            và <code>express-rate-limit</code>.
        </p>

        <p class="h2Paragraph">
            <strong>Công Cụ Kiểm Tra Các Nhóm Máu Tương Thích</strong> là một
            công cụ mã nguồn mở được xuất bản theo bản quyền
            <strong>GNU General Public License version 3</strong> (tạm dịch:
            <em>Giấy phép Công cộng GNU phiên bản 3</em>). Chi tiết cụ thể vui lòng
            tham khảo nguyên văn của bản quyền GNU theo đường dẫn sau:
            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">
                https://www.gnu.org/licenses/gpl-3.0.en.html
            </a>
        </p>

        <p class="h2Paragraph">
            Đường dẫn tới mã nguồn của trang web trên <strong>Google Drive</strong>:
            <a href="https://drive.google.com/drive/folders/1bSW2ejRX50BYCctcUl6xmRQYYXTQsBjo?usp=sharing">
                https://drive.google.com/drive/folders/1bSW2ejRX50BYCctcUl6xmRQYYXTQsBjo?usp=sharing
            </a>
        </p>
    </div>

    <div class="sectionContainer serif">
        <div class="sectionHeadingContainer sans-serif">
            <h2 class="sectionHeading">IV. Thông tin về tác giả</h2>
        </div>

        <p class="h2Paragraph">
            Ký hiệu <code>---</code> chỉ những mục thông tin đã được ẩn đi dể
            đảm bảo quyền riêng tư của tác giả.
        </p>

        <div class="subHeadingContainer sans-serif">
            <h3 class="subHeading">Tác giả 1</h3>
        </div>

        <div class="listContainer">
            <ul class="bulletList">
                <li><strong>Họ và tên:</strong> Nguyễn Thị Như Quỳnh</li>
                <li><strong>Đơn vị công tác:</strong> THCS Trần Đăng Ninh</li>
                <li><strong>Huyện/TP:</strong> <code>---</code></li>
                <li><strong>SĐT:</strong> <code>---</code></li>
                <li><strong>Email:</strong> <code>---</code></li>
            </ul>
        </div>

        <div class="subHeadingContainer sans-serif">
            <h3 class="subHeading">Tác giả 2</h3>
        </div>

        <div class="listContainer">
            <ul class="bulletList">
                <li><strong>Họ và tên:</strong> Bùi Xuân Quỳnh</li>
                <li><strong>Đơn vị công tác:</strong> THCS Trần Đăng Ninh</li>
                <li><strong>Huyện/TP:</strong> <code>---</code></li>
                <li><strong>SĐT:</strong> <code>---</code></li>
                <li><strong>Email:</strong> <code>---</code></li>
            </ul>
        </div>
    </div>

    <div class="sectionContainer serif">
        <div class="sectionHeadingContainer sans-serif">
            <h2 class="sectionHeading">V. Công trạng</h2>
        </div>

        <p class="h2Paragraph">
            Ngoài việc sử dụng những thư viện bên thứ ba trong mã nguồn, trang web
            còn sử dụng một số tài nguyên từ các bên thứ ba cho phần thiết kế giao
            diện của trang web. Những tài nguyên đó sẽ được liệt kê trong danh sách
            sau đây:
        </p>

        <div class="listContainer">
            <ul class="bulletList">
                <li><p>
                    Biểu tượng ống tiêm con trỏ được chỉnh sửa từ file đồ họa
                    <strong>Green syringe element vector</strong> của <strong>rawpixel.com</strong>
                    trên trang
                    <a href="https://www.freepik.com/free-vector/green-syringe-element-vector_18722102.htm#query=Green%20syringe%20element%20vector&position=10&from_view=search&track=ais&uuid=f56c1b4a-9ccd-4f33-9e3a-6b5c1ace3d64">
                        Freepik
                    </a>
                </p></li>
                <li><p>
                    Bảng màu của trang web tham khảo từ bảng màu <strong>Palette</strong> ở trang
                    <a href="https://developer.gnome.org/hig/reference/palette.html">
                        GNOME Human Interface Guidelines
                    </a>
                </p></li>
            </ul>
        </div>
    </div>

    <div class="returnButtonContainer sans-serif">
        <a href="/" class="homeLink">
            <div class="returnButton" title="Quay trở lại trang chủ">
                Quay lại trang chủ
            </div>
        </a>
    </div>
</body>
</html>