<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Compatibility</title>
    <link rel="stylesheet" href="../sheets/master.css">
    <link rel="stylesheet" href="../sheets/index.css">
</head>
<body>
    <div class="infoContainer">
        <button type="button" id="infoButton" class="infoButton" title="Visit the information page">
            ?
        </button>
    </div>

    <div class="titleContainer">
        <div class="titleCard accented sans-serif" id="titleCard">
            <h1>Interactive Blood Compatibility Checker</h1>
        </div>
    </div>

    <div class="bloodTypeHeaderContainer">
        <div class="bloodTypeHeader sans-serif">
            <h2>Donor's Blood Type</h2>
        </div>
    </div>

    <div class="bloodTypeContainer">
        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Blood_Bag/BloodBag_TypeA.svg"
                alt="Illustration of a blood bag containing blood type A"
                class="bloodItem">
            </div>
        </div>

        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Blood_Bag/BloodBag_TypeB.svg"
                alt="Illustration of a blood bag containing blood type B"
                class="bloodItem">
            </div>
        </div>

        <hr>

        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Blood_Bag/BloodBag_TypeAB.svg"
                alt="Illustration of a blood bag containing blood type AB"
                class="bloodItem">
            </div>
        </div>

        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Blood_Bag/BloodBag_TypeO.svg"
                alt="Illustration of a blood bag containing blood type O"
                class="bloodItem">
            </div>
        </div>
    </div>

    <div class="bloodTypeHeaderContainer">
        <div class="bloodTypeHeader sans-serif">
            <h2>Recipient's Blood Type</h2>
        </div>
    </div>

    <div class="bloodTypeContainer">
        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Recipient_Blood/NormalBlood_TypeA_Light.svg"
                alt="Illustration of type A blood in normal conditions"
                class="bloodItem">
            </div>
        </div>

        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Recipient_Blood/NormalBlood_TypeB_Light.svg"
                alt="Illustration of type B blood in normal conditions"
                class="bloodItem">
            </div>
        </div>

        <hr>

        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Recipient_Blood/NormalBlood_TypeAB_Light.svg"
                alt="Illustration of type AB blood in normal conditions"
                class="bloodItem">
            </div>
        </div>

        <div class="bloodTray">
            <div class="bloodItemContainer">
                <img src="../assets/graphics/exports/Recipient_Blood/NormalBlood_TypeO_Light.svg"
                alt="Illustration of type O blood in normal conditions"
                class="bloodItem">
            </div>
        </div>
    </div>

    <div class="resetButtonContainer">
        <button type="button" class="resetButton" id="resetButton" title="Reset recipient's blood types">
            Reset
        </button>
    </div>
</body>
</html>
