<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Compatibility</title>
    <link rel="stylesheet" href="../sheets/master.css">
    <link rel="stylesheet" href="../sheets/index.css">
</head>
    <div class="infoContainer">
        <button type="button" id="infoButton" class="infoButton" title="Visit the information page">
            ?
        </button>
    </div>

    <div class="titleContainer">
        <div class="titleCard accented1 sans-serif" id="titleCard">
            <h1>Interactive Blood Compatibility Checker</h1>
        </div>
    </div>

    <div class="subtitleContainer">
        <div class="blackWhite" id="subtitleCard">
            Lorem Ipsum Dolor Sit Amet.
        </div>
    </div>

    <div class="bloodTypeContainer">
        <div class="bloodBag">
            <div class="bloodContentContainer">
                <div class="bloodContent">
                    <div class="bloodLabel">
                        <div class="bloodLabelText sans-serif">A</div>
                        <div class="decorTextLines">
                            <div class="decorText"></div>
                            <div class="decorText"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bloodBag">
            <div class="bloodContentContainer">
                <div class="bloodContent">
                    <div class="bloodLabel">
                        <div class="bloodLabelText sans-serif">B</div>
                        <div class="decorTextLines">
                            <div class="decorText"></div>
                            <div class="decorText"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bloodBag">
            <div class="bloodContentContainer">
                <div class="bloodContent">
                    <div class="bloodLabel">
                        <div class="bloodLabelText sans-serif">AB</div>
                        <div class="decorTextLines">
                            <div class="decorText"></div>
                            <div class="decorText"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bloodBag">
            <div class="bloodContentContainer">
                <div class="bloodContent">
                    <div class="bloodLabel">
                        <div class="bloodLabelText sans-serif">O</div>
                        <div class="decorTextLines">
                            <div class="decorText"></div>
                            <div class="decorText"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bloodTypeContainer">

    </div>

    <div class="infoFooter">

    </div>
<body>

</body>
</html>
