<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Compatibility</title>
    <link rel="stylesheet" href="../sheets/master.css">
    <link rel="stylesheet" href="../sheets/index.css">
</head>
    <div class="infoContainer">
        <button type="button" id="infoButton" title="Visit the information page">
            ?
        </button>
    </div>

    <div class="titleContainer">
        <div class="blackWhite" id="titleCard">
            <h1>Interactive Blood Compatibility Checker</h1>
        </div>
    </div>

    <div class="subtitleContainer">
        <div class="blackWhite" id="subtitleCard">
            Lorem Ipsum Dolor Sit Amet.
        </div>
    </div>

    <div class="donorBloodContainer">
        <div class="donorBloodType">
            <img>
            <strong>Type 1</strong>
        </div>
    </div>

    <div class="recipientBloodContainer">
        <div class="recipientBloodType">
            <img>
            <strong>Type 1</strong>
        </div>
    </div>

    <div class="infoFooter">

    </div>
<body>

</body>
</html>
