.infoContainer, .bloodTypeHeaderContainer,
.titleContainer, .bloodContainer, .resetButtonContainer
{position: relative; width: 100vw;}

.titleContainer, .bloodTypeHeaderContainer, .bloodBagContainer, .recipientBloodContainer,
.recipientLabelContainer, .resetButtonContainer, .bloodTypeContainer, .infoContainer,
.infoButton, .currentTypeContainer {
    display: flex; align-items: center;
}
.bloodTypeContainer {justify-content: space-evenly;}
.infoContainer {justify-content: flex-end;}
.titleContainer, .bloodTypeHeaderContainer, .bloodBagContainer, .recipientBloodContainer,
.recipientLabelContainer, .resetButtonContainer, .infoButton, .currentTypeContainer
{justify-content: center;}

.bloodItem, .infoButton, .resetButton, .bloodTray, .infoButton, .currentTypeContainer {width: auto;}
.bloodItem, .infoButton, .bloodTray, .infoButton, .currentTypeContainer {aspect-ratio: 1/1;}
.resetButton {aspect-ratio: 3/1;}

.bloodBagContainer, .recipientBloodContainer {height: 100%; width: 100%;}

.bloodBagContainer {.bloodItem {max-height: 90%;}}
.recipientBloodContainer {
    flex-direction: column;
    .bloodItem {
        max-height: 75%;
        position: relative;
}}

.recipientLabelContainer {
    position: relative;
    height: 15%; width: 100%;
}

.infoButton, .resetButton, .currentTypeContainer {
    text-align: center; font-weight: bold;
    color: var(--background); background-color: var(--accent);
}
.bloodTray {display: inline-block;}
.infoButton, .resetButton {cursor: pointer; border: none;}
.currentTypeContainer, .currentTypeLabel {cursor: help;}

.infoButton, .currentTypeContainer {
    margin-right: 1vw;
    margin-left: 0;
    height: 3.5vh;
    border-radius: 100%;
    font-size: 1.75vh;
}
.infoLink {text-decoration: none;}

.resetButton {
    height: 50%;
    border-radius: 0.5em;
    font-size: 2vh;
}

.bloodTray {
    max-height: 90%;
    border-radius: 1em;
}

.infoButton:hover, .resetButton:hover, .bloodTray:hover {
    color: var(--foreground);
    background-color: var(--highlight);
}

.titleCard {text-align: center;}

.bloodTypeContainer hr {border: none;}