.infoContainer, .bloodTypeHeaderContainer,
.titleContainer, .bloodContainer, .resetButtonContainer
{position: relative; width: 100vw;}

.titleContainer, .bloodTypeHeaderContainer, .bloodItemContainer,
.resetButtonContainer, .bloodTypeContainer, .infoContainer {
    display: flex; align-items: center;
}
.bloodTypeContainer {justify-content: space-evenly;}
.infoContainer {justify-content: flex-end;}
.titleContainer, .bloodTypeHeaderContainer, .bloodItemContainer, .resetButtonContainer
{justify-content: center;}

.bloodItem, .infoButton, .resetButton, .bloodTray {width: auto;}
.bloodItem, .infoButton, .bloodTray {aspect-ratio: 1/1;}
.resetButton {aspect-ratio: 3/1;}

.bloodItemContainer {height: 100%; width: 100%;}
.bloodItem {max-height: 90%;}

.infoButton, .resetButton {
    cursor: pointer; border: none;
    text-align: center; font-weight: bold;
    color: var(--foreground); background-color: var(--accent);
}
.infoButton, .bloodTray {display: inline-block;}

.infoButton {
    margin: 1%;
    margin-left: 0;
    height: 3.5vh;
    border-radius: 100%;
    font-size: 1.75vh;
}

.resetButton {
    height: 50%;
    border-radius: 0.5em;
    font-size: 2vh;
}

.bloodTray {
    max-height: 90%;
    border-radius: 1em;
}

.infoButton:hover, .resetButton:hover, .bloodTray:hover {
    color: var(--background);
    background-color: var(--highlight);
}

.bloodTray:hover {
    cursor:
        url("../../assets/graphics/exports/Blood_Syringe/BloodSyringe_32x32.svg"),
        /*
        url("../../assets/graphics/exports/Blood_Syringe/BloodSyringe_32x32.png"),
        */
        pointer;
}

.titleCard {text-align: center;}

.bloodTypeContainer hr {border: none;}