.infoContainer, .titleContainer, .subtitleContainer,
.bloodContainer, .infoFooter
{position: relative; width: 100vw;}

.infoContainer {height: 5vh;}
.titleContainer {height: 20vh;}
.subtitleContainer {height: 15vh;}
.bloodTypeContainer {height: 25vh;}
.infoFooter {height: 10vh;}

.infoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.infoButton {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    border: none;

    right: 0.5em;
    top: 0.5em;
    height: 3.5vh;
    width: auto;
    aspect-ratio: 1/1;
    text-align: center;
    font-weight: bold;

    border-radius: 100%;
    color: var(--foreground);
    background-color: var(--accent);
}
.infoButton:hover {
    color: var(--background);
    background-color: var(--highlight);
}

.titleContainer, .subtitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloodTypeContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bloodBag {
    display: inline-block;
    height: 20vh;
    width: auto;
    aspect-ratio: 4/5;

    border: solid;
    border-radius: 0.5em;
    border-width: 0.3em;
    border-color: var(--accent);
}

.bloodBag:hover {
    .bloodLabel {
        background-color: var(--highlight);
    }
    background-color: var(--highlight);
    cursor:
        url("../assets/graphics/blood_syringe_32x32.svg"),
        url("../assets/graphics/blood_syringe_32x32.png"),
        pointer;
}

.bloodContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bloodContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 92%;
    border-radius: 0.5em;
    background-color: var(--accent);
}

.bloodLabel {
    width: 75%;
    height: 65%;
    background-color: var(--foreground);
}

.bloodLabelText {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    height: 50%;
    width: 100%;

    color: var(--background);

    font-size: 175%;
    font-weight: bold;
}

.decorTextLines {
    position: relative;
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.decorText {
    background-color: var(--background);
    border-radius: 0.2em;
    height: 0.4em;
    width: 80%;
}